<%- include('./header-side-footer/dash') -%>
<div class="page-wrapper">
    <div class="col">
        <div class="col-lg-3">
            <div class="card bg-light">
                <div class="testimonial-widget-one p-17">
                    <div class="testimonial-widget-one owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial-content">
                                <img class="testimonial-author-img" src="images/avatar/2.jpg" alt="" />
                                <div class="testimonial-author"><h2>Subject Doubts</h2></div>
                                <div class="testimonial-author-position"></div>

                                <div class="testimonial-text">
                                    <a href="/student/feedback/subject">
                                    <button type="button" class="btn btn-primary btn-flat m-b-10 m-l-5">Here</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="col">
            <div class="col-lg-3">
                <div class="card bg-light">
                    <div class="testimonial-widget-one p-17">
                        <div class="testimonial-widget-one owl-carousel owl-theme">
                            <div class="item">
                                <div class="testimonial-content">
                                    <img class="testimonial-author-img" src="images/avatar/2.jpg" alt="" />
                                    <div class="testimonial-author"><h2>Feedback</h2></div>
                                    <div class="testimonial-author-position"></div>
                                    <a href="/student/feedback">
                                    <button type="button" class="btn btn-primary btn-flat m-b-10 m-l-5">Here</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
            <div class="col">
                    <div class="col-lg-3">
                        <div class="card bg-light">
                            <div class="testimonial-widget-one p-17">
                                <div class="testimonial-widget-one owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="images/avatar/2.jpg" alt="" />
                                            <div class="testimonial-author"><h2>Idea</h2></div>
                                            <div class="testimonial-author-position"></div>
                                        <a href="/student/ideation">
                                                <button type="button" class="btn btn-primary btn-flat m-b-10 m-l-5">Here</button>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

<table>
        <tr>
            <th>Title</th>
            <th>Answer</th>
            <th>Date</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].title %></td>
             <td><%= data[i].body %></td>
             <td><%= data[i].date %></td>
           </tr>
        <% } %>
</table>

<%- include('./header-side-footer/footer') -%>